/.project
/node_modules/
/jspm_packages/
/sauce.json
/bundle.js
/*.log
/leaflet-coverage.src.js
/leaflet-coverage.min.js
/docs/
/.tern-project
/config.js
/lib/
/leaflet-coverage.min.js.map
/leaflet-coverage.src.js.map
